.logo_large {
  font-size: 4em;
  margin-top: 10%;
}

.container_home {
  width: 50%;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  border: 2px solid $color-accent;
  -webkit-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  p {
    text-align: center;
    font-size: 2em;
    line-height: 2em;
  }
}
