
.logo {
  font-size: 2em;
  margin-top: 2%;
}

.nav_Views {
  padding: 2em;
  a {
    display: inline-block;
    padding-right: 2em;
  }
}

.listContainer {
  width: 80%;
  margin: 0 auto;
}

.item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: thin solid $color-accent;
  -webkit-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  width: 46%;
  min-height: 450px;
  text-align: center;
  padding: 1%;
  margin: 2%;
  margin-bottom: 1%;
  h3, h4, p {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  p {
    padding-top: 1%;
  }
  button {
    font-size: 0.8em;
    padding: 1% 2% 1% 2%;
  }
  a {
    border: thin solid $color-accent;
    font-size: 0.8em;
    padding: 1% 2% 1% 2%;
  }

}
