* {
  box-sizing: border-box; }

body, h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:visited {
    color: inherit; }

/* font-family: 'Source Sans Pro', sans-serif;

font-family: 'Permanent Marker', cursive;

font-family: 'Special Elite', cursive; */
.shadow {
  -webkit-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.3); }

body {
  background-image: url('/images/brickwall_@2X.png'); }

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: black;
  font-size: 60px; }

h2, h3, h4 {
  font-family: 'Special Elite', cursive;
  text-align: center;
  color: #56524e; }

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: black; }

a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #56524e; }

.logo_large {
  font-size: 4em;
  margin-top: 10%; }

.container_home {
  width: 50%;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  border: 2px solid #56524e;
  -webkit-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.3); }
  .container_home p {
    text-align: center;
    font-size: 2em;
    line-height: 2em; }

.logo {
  font-size: 2em;
  margin-top: 2%; }

.nav_Views_notfound {
  padding: 2em; }
  .nav_Views_notfound a {
    display: block; }

h2 {
  margin-top: 20%; }

.logo {
  font-size: 2em;
  margin-top: 2%; }

.nav_Views {
  padding: 2em; }
  .nav_Views a {
    display: inline-block;
    padding-right: 2em; }

.listContainer {
  width: 80%;
  margin: 0 auto; }

.item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: thin solid #56524e;
  -webkit-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  width: 46%;
  min-height: 450px;
  text-align: center;
  padding: 1%;
  margin: 2%;
  margin-bottom: 1%; }
  .item h3, .item h4, .item p {
    padding-top: 2%;
    padding-bottom: 2%; }
  .item p {
    padding-top: 1%; }
  .item button {
    font-size: 0.8em;
    padding: 1% 2% 1% 2%; }
  .item a {
    border: thin solid #56524e;
    font-size: 0.8em;
    padding: 1% 2% 1% 2%; }

.logo {
  font-size: 2em;
  margin-top: 2%; }

.nav_Views_addNew {
  padding: 2em; }
  .nav_Views_addNew a {
    display: block; }

.addProductContainer {
  width: 70%;
  margin: 0 auto; }

input, textarea {
  display: block;
  width: 100%;
  padding: 2%;
  border: thin solid #56524e;
  line-height: 1.5em;
  font-size: 1em;
  margin-top: 1%; }

button {
  font-size: 0.8em;
  padding: 1% 2% 1% 2%;
  margin-top: 2%; }

.logo {
  font-size: 2em;
  margin-top: 2%; }

.nav_Views_edit {
  padding: 2em; }
  .nav_Views_edit a {
    display: block; }

.editProductContainer {
  width: 70%;
  margin: 0 auto; }

input, textarea {
  display: block;
  width: 100%;
  padding: 2%;
  border: thin solid #56524e;
  line-height: 1.5em;
  font-size: 1em;
  margin-top: 1%; }

button {
  font-size: 0.8em;
  padding: 1% 2% 1% 2%;
  margin-top: 2%; }

.logo {
  font-size: 2em;
  margin-top: 2%; }

.cartContainer {
  width: 80%;
  margin: 0 auto;
  display: block;
  min-height: 100px;
  border: 2px solid #56524e;
  -webkit-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 7px 20px 0px rgba(50, 50, 50, 0.3); }

.cartitem {
  display: block;
  margin-top: 3%; }
  .cartitem p {
    display: inline-block;
    vertical-align: top;
    padding-left: 2%; }
  .cartitem .cartName {
    width: 25%; }
  .cartitem .cartPrice {
    width: 10%; }
  .cartitem .itemQuantity {
    width: 20%; }
  .cartitem .cartbuttons {
    width: 15%;
    display: inline-block; }
    .cartitem .cartbuttons a {
      display: block;
      font-size: 0.8em;
      padding: 1% 2% 1% 2%;
      margin-top: 2%; }
  .cartitem .itemTotal {
    width: 25%; }

.totalPrice {
  padding-left: 74%;
  padding-top: 5%;
  padding-bottom: 5%; }
