  <h1 class="logo">LightBox</h1>

  <div class="nav_Views_addNew">
    <a href="#/admin/listView"><span class="fa-lg">
      <i class="fa fa-arrow-left"></i>
    </span>Back to List</a>
  </div>

  <div class="addProductContainer">

    <h3>Add a new product</h3>

    <form ng-submit="mainCtrl.addProduct(newItem)">
      <input type="text" ng-model="newItem.image" placeholder="img Url">
      <input type="text" ng-model="newItem.productName" placeholder="Item Name">
      <input type="text" ng-model="newItem.price" placeholder="Price">
      <textarea type="text" ng-model="newItem.productDescription" placeholder="Item Description"></textarea>

      <button type="submit">Add Product</button>
    </form>

  </div>

<!-- two-way data-binding with ng-model -->
